$primary: #2f8475;
$primaryLight: #29c08c;
// $primaryDark:

$secondary: #264445;
// $secondaryLight:
// $secondaryDark:

// $neutralDarker:
// $neutrayDark:
$neutral: #ffffff;
// $neutralLight:
// $neutralLighter: 
// $neutralLightest: 